@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSans";
  src: url("../app/public/fonts/GeneralSans-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../app/public/fonts/Quicksand-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../app/public/fonts/GeneralSans-Bold.otf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url("../app/public/fonts/Quicksand-Light.otf");
  font-weight: 300;
  font-style: light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GeneralSans", sans-serif;
}

p,
a,
li,
input,
textarea,
button {
  font-family: "Quicksand", sans-serif;
}
